<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    
    <h1> About </h1>
    <p> I'm a graduate in Economics with a concentration in Applied Econometrics, 
        and now a MS candidate in Data Science. Some of my interests:</p>
    
    <ul>
        <li>Customer analytics</li>
        <li>Behavioral economics</li>
        <li>Behavioral finance</li>
        <li>Data preprocessing and visualization</li>
        <li>Experimental design</li>
    </ul>

      
    {% endblock %}
  </body>
</html>